.header {
  height: 4.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background: var(--color-dark-green);
  padding-left: 3%;
  
}

.logo {
  color: var(--color-white);
  font-size: 1.025rem;
  font-weight: var(--font-weight-title-link);
}


.header__search__details {
  display: none;
  position: fixed;
  top: 4.40rem;
  right: 0;
  margin-right: 0.1rem;
  
}

.input__search {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  height: 3rem;
  width: 23.2rem;
  background: var(--color-white);
}

.input__search::placeholder {
  visibility: hidden;
}

.input__search:focus {
  outline: none;
}

.input__search__label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1rem;
  transition: all 0.25s;
}

.input__search:not(:placeholder-shown) + .input__search__label,
.input__search:focus + .input__search__label {
  display: none;
  transition: all 0.25s;
}

.input__search__btn {
  position: absolute;
  background: transparent;
  border: 1px solid transparent;
  left: 87%;

}

.input__search__btn i {
  font-size: 2rem;
  color: var(--color-dark-green);
  
}

.menu__list {
  flex-direction: column;
  display: none;
  position: fixed;
  top: 4.40rem;
  right: 2.1rem;
  height: fit-content;
  width: 10rem;
  z-index: 3;
  perspective: 350px;
}

.menu__item {
  width: 100%;
  height: 4.5rem;
  font-weight: var(--font-weight-text);
  animation: navAnimation 1s ease forwards ;
  transform: rotateY(90deg) rotateX(90deg);
  transform-origin: top right;
  opacity: 0;
  
}

.menu__item:nth-child(2) {
  animation-delay: 400ms;
}
.menu__item:nth-child(3) {
  animation-delay: 900ms;
}


@keyframes navAnimation {
  to {
    transform: rotate(0);
    opacity: 1;
  }
}

.menu__item__link {
  background: var(--color-dark-green);
  color: var(--color-white);
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  text-transform: uppercase;
  transition: all .3s ease;
}

.menu__item__link:hover {
  transform: scale(1.05);
  background: var(--color-ligth-green);
}

.search__btn, .menu__open, .menu__close {
  display: inline-block;
  margin-right: 1.4rem;
  background: transparent;
  color: var(--color-white);
  cursor: pointer;
  border: none;
  font-size: 2rem;
}
.menu__close {
  display: none;
}

/* TABLETS */

@media screen and (min-width: 425px) {
  .input__search {
    width: 26.43rem;
    
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-right: 5%;
    padding-left: 2%;
  }

  .search__btn {
    display: none;
  }

  .header__search__details {
    display: flex;
    right: 10rem;
    top: 0.7rem;
  }
}

/* PC */

@media screen and (min-width: 1024px) {
  .header__search__details{
    right: 50%;
    width: 30%;
  }
  .menu__list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    top: 0;
    left: 55%;
    right: 0;
    width: 49%;
  }

  .menu__item__link {
    background: none;
    width: 49%;
    height: 50%;
    box-shadow: none;
  }

  .menu__open {
    display: none;
  }

  .menu__close {
    display: none !important;
  }
}