.categorias {
  background: var(--color-ligth-gray);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorias__title {
  font-size: 1.9rem;
  color: var(--color-black);
  font-weight: var(--font-weight-title-link);
  margin-bottom: 2rem;
}

.categorias__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  height: 100%;
}

.categoria__card {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.categoria__card__img {
  height: 13rem;
  width: 100%;
  
  border-radius: 0.5rem 0.5rem 0 0;
}

.categoria__card__details {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categoria__card__details__title {
  font-size: 1.3rem;
  color: var(--color-black);
  font-weight: var(--font-weight-title-link);
}
.categoria__card__details__subtitle {
  font-size: 1.125rem;
  color: var(--color-black);
  font-weight: var(--font-weight-text);
  line-height: 1.3;
}