.lista-productos {
  background: var(--color-light4);

  
}

.lista-productos__header {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.lista-productos__header__title {
  font-size: 1.9rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: var(--color-black);
  font-weight: var(--font-weight-title-link);
}


.lista-productos__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 10rem;
}

.lista-productos__card {
  display: flex;
  flex-direction: column;
  height: 20%;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.lista-productos__card__img {
  width: 100%;
  object-fit: cover;
}

.lista-productos__card__details {
  padding-top: 0.5rem;
}

.lista-productos__card__name {
  color: var(--color-black);
  font-weight: var(--font-weight-text);
  font-size: 1.125rem;
  padding-bottom: 0.7rem;
}

.lista-productos__card__price {
  color: var(--color-black);
  font-weight: var(--font-weight-title-link);
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}

.lista-productos__card__id {
  color: var(--color-black);
  font-weight: var(--font-weight-text);
  font-size: 1.125rem;
}

.lista-productos__card_details__btn {
  display: flex;
  gap: 1rem;
}