.footer {
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}
.footer__contacto {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--color-ligth-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer__contacto_text {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem;
}

.footer__contacto__title {
  color: var(--color-black);
  font-size: 1.9rem;
  font-weight: var(--font-weight-title-link);
  text-align: center;

}

.footer__contacto__paragraph {
  color: var(--color-black);
  font-size: 1.125rem;
  font-weight: var(--font-weight-text);
  line-height: 1;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  font-weight: 400;
}

.input {

  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  padding: 1.375rem 0.5rem 0.5rem;
  height: 4rem;
  width: 20rem;
  font-size: 1.2rem;
}

.input:hover {
  border-bottom: 3px solid #6643b5;
}

.input::placeholder {
  visibility: hidden;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.25s;
}

.input:focus {
  outline: none;
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.textarea-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.textarea-input {
  width: 18.8rem;
  min-height: 5rem;
  padding: 2rem 0.5rem 0.5rem;
  border-radius: 7px;
  border: 1px solid var(--color-dark-green);
  font-weight: 400;
  font-size: 1.2rem;
}

.textarea-input::placeholder {
  visibility: hidden;
}

.textarea-input:focus {
  outline: none;
}

.textarea-label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.1rem;
  transition: all 0.25s;
}

.textarea-input:not(:placeholder-shown) + .textarea-input,
.textarea-input:focus + .textarea-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

/* FOOTER COPY */

.footer__copy {
  text-align: center;
  padding: 1.2rem 0;
  height: 4rem;
  background: var(--color-dark-green);
}

.footer__copy__text {
  margin: 1rem 0;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: var(--font-weight-text);
}

/* TABLETS */

@media screen and (min-width: 768px) {
  .footer__contacto {
    flex-direction: row;
  }

  .footer__contacto_text {
    width: 45%;

  }
  .footer__contacto_text {
    text-align: center;
  }

  .form {
    justify-content: center;
    align-items: center;
  }

  .btn__form {
    width: 100%;
  }
}
/* PC */

@media screen and (min-width: 1024px) {
  .footer__contacto__title {
    text-align: start;
    font-size: 3.2rem;
  }
  .footer__contacto_text {
    text-align: start;
    
  }

  .input {
    width: 30rem;
  }

  .textarea-input {
    width: 29rem;
  }
}