@import url(./reset.css);
@import url(./variables.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--raleway);
}

.container {
  padding-left: 6%;
  padding-right: 6%;
}

.btn {
  background: var(--color-dark-green);
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--color-white);
  transition: all 1s ease;
  font-weight: var(--font-weight-title-link);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.btn:hover {
  color: var(--color-dark-green);
  background: var(--color-white);
  border: 1px solid var(--color-dark-green);
}

.lista-productos__card__delete {
  background: var(--color-warning);
  color: var(--color-white);
}

.lista-productos__card__delete:hover {
  color: var(--color-warning);
  background: var(--color-white);
  border: 1px solid var(--color-warning);
}

.lista-productos__card__edit {
  background: var(--color-blue-links);
  color: var(--color-white);
}

.lista-productos__card__edit:hover {
  background: var(--color-white);
  color: var(--color-blue-links);
  border: 1px solid var(--color-blue-links);
}

/* ERROR STYLES */

.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .input .input__inicio .input__agregar{
  border: 1px solid var(--color-warning);
  border-radius: 7px;
}

.input-container--invalid .input-label .input__label {
  color: var(--color-warning);
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: var(--color-warning);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.textarea-container--invalid {
  margin-bottom: 0.5rem;
}

.textarea-container--invalid .textarea-input .textarea__input {
  border: 1px solid var(--color-warning);
}

.textarea-container--invalid .textarea-label .textarea__label {
  color: var(--color-warning);
}

.textarea-message-error {
  display: none;
}

.textarea-container--invalid .textarea-message-error {
  display: block;
  color: var(--color-warning);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }
}