:root {
  --raleway: 'Raleway', sans-serif;
  --color-black: #352f44;
  --color-white: #fcfefe;
  --color-dark-green: #347474;
  --color-ligth-green: #85b76a;
  --color-blue-links: #0092ca;
  --font-weight-title-link: 700;
  --font-weight-text: 500;
  --color-ligth-gray: #a7bcb9;
  --color-light2: #c7b198;
  --color-light3: #f1efb9;
  --color-light4: #ececec;
  --color-warning: #eb2632;
}