.mas-vistos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--color-light3);
}

.productos {
  padding-top: 7rem;
  padding-bottom: 4rem;
}
.mas-vistos__title {
  font-size: 1.9rem;
  color: var(--color-black);
  font-weight: var(--font-weight-title-link);
  margin-bottom: 2rem;
}

.mas-vistos__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.mas-vistos__card {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  transition: all .5s ease;
}

.mas-vistos__card:hover {
  transform: scale(1.03);
  box-shadow: 4px 8px 19px -3px var(--color-blue-links);
}

.mas-vistos__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.mas-vistos__card__details {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mas-vistos__card__name {
  font-size: 1.1rem;
  color: var(--color-black);
  font-weight: var(--font-weight-title-link);
}

.mas-vistos__card__price {
  font-size: 1.125rem;
  color: var(--color-black);
  font-weight: var(--font-weight-text);
  line-height: 1.3;
}

.mas-vistos__card__link {
  color: var(--color-blue-links);
  font-weight: var(--font-weight-title-link);
}
 /* TABLETS */

 @media screen and (min-width: 768px) {
  .mas-vistos__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }
 }

 /* PC */

 @media screen and (min-width: 1440px) {
  .mas-vistos__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
 }