.agregar-producto {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  height: 100%;
}

.agregar-producto__title {
  font-size: 1.9rem;
  color: var(--color-black);
  font-weight: var(--font-weight-title-link);
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.form-agregar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::-webkit-file-upload-button {
  background: var(--color-dark-green);
  border: 1px solid transparent;
  padding: 0.8rem 1.6rem;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: var(--font-weight-text);
  margin-bottom: 1rem;
}

.img__preview {
  width: 100%;
}

.input__agregar__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  font-weight: 400;
}

.input__agregar {
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid var(--color-dark-green);
  padding: 1.375rem 0.5rem 0.5rem;
  height: 4rem;
  width: 20rem;
  font-size: 1.2rem;
}

.input__agregar:hover {
  border-bottom: 3px solid #6643b5;
}
.input__agregar::placeholder {
  visibility: hidden;
}
.input__agregar:focus {
  outline: none;
}

.input__label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.25s;
}

.input__agregar:not(:placeholder-shown) + .input__label,
.input__agregar:focus + .input__label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.textarea__container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.textarea__input {
  width: 18.8rem;
  min-height: 5rem;
  padding: 2rem 0.5rem 0.5rem;
  border-radius: 7px;
  border: 1px solid var(--color-dark-green);
  font-weight: 400;
  font-size: 1.2rem;
}

.textarea__input::placeholder {
  visibility: hidden;
}

.textarea__input:focus {
  outline: none;
}

.textarea__label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.1rem;
  transition: all 0.25s;
}

.textarea__input:not(:placeholder-shown) + .textarea__label,
.textarea__input:focus + .textarea__label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}


/* TABLETS */

@media screen and (min-width: 768px) {
  .form__fieldset {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .input__agregar {
    width: 100%;
  }

  .textarea__input {
    width: 100%;
  }

  .btn__agregar {
    width: 100%;
    margin-left: 1rem;
  }
}

/* PC */

@media screen and (min-width: 1024px) {
  .input__agregar__img {
    margin-left: 10rem;
    margin-bottom: 5rem;
  }
  input[type="file"] {
    width: 50%;
  }

  .btn__agregar {
    width: 80%;
  }
}